/* Fichier CSS à personnaliser */

h1 {
    text-align: center;
    color: BlanchedAlmond;
    background-color:Salmon;
  }
body {
     background-color:Cornsilk

  }
   
.special {
    color: orange;
    background-color: RoyalBlue;
    border: solid black;
  }

.souligne {
    text-decoration: underline red;
}

#bloc1 {
    border: 5px solid purple;
    width: 40%;
    background-color: darkturquoise;
    color: white;
    padding:20px;
  }

  #monImage {
    display: flex;
    justify-content: center;
    align-items: center;
  }